=head1 NAME

Unicode::Diacritic::Strip - strip diacritics from Unicode text

=head1 FUNCTIONS

=head2 strip_diacritics

    my $stripped = strip_diacritics ($text);

Strip diacritics from C<$text>. The diacritics are as defined by the
Unicode Character Database. See L<Unicode::UCD>.

[% INCLUDE "author" %]

